#male{
    display: none;
}
#female{
    display: none;
}
#spinner{
    display: none;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 400px;
    border-radius: 10px;
}